{% extends "::base.html.twig" %}
{% set title = 'Entries' %}

{% block body %}
    {#<a href="{{ path('url_new') }}" class="btn">New</a>#}
    <div class="row">
        <div class="col-lg-12">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Concept', 'e.concept') }}</th>
                        <th{% if pagination.isSorted('e.date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'e.date') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Value', ['e.value', 'e.date']) }}</th>
                        <th>Add tag</th>
                    </tr>
                    </thead>
                    <tbody id="entity-list" data-urlAddTag="{{ path('entry.tag.add') }}">
                    {% for entry in pagination %}
                        <tr id="{{ entry.id }}">
                            <td class="field-concept">{{ entry.concept }} {% for tag in entry.getTags %}
                                    <i><a href="{{ path('entry.tag.list', {tag: tag}) }}"><span class="label label-info">{{ tag }}</span></a> </i>{% endfor %} </td>
                            <td>{{ entry.date|date('d-m-Y') }}</td>
                            <td>{{ entry.value }} €</td>
                            <td>
                                <button class="btn btn-xs btn-info addTagBtn" data-toggle="modal"
                                        data-id="{{ entry.id }}" data-target="#myModal">Add tag
                                </button>
                            </td>
                            {#<td><a href="{{ path('url_delete', {slug: entry.slug}) }}" class="btn">Delete</a> </td>#}
                            {#<td><a href="{{ path('url_edit', {slug: entry.slug}) }}" class="btn">Edit</a> </td>#}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    <ul class="col-md-12">

    </ul>


    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add tag</h4>
                </div>
                <div class="modal-body">
                    <p>Select one tag</p>
                    <ul>
                        {% for tag in tags %}
                            <a class="btn addTagAction" href="#{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </ul>
                    <p>Or create one</p>

                    <input id="addNewTag" name="tag" type="text"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

